{% extends "menu/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
    <h3 class="border-bottom mb-4">Change Password</h3>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Change Password</button>
        </div>
    </form>
</div>
{% endblock %}
